{% extends "base.html" %}
{% load static %}
{% block content %}
{% autoescape off %}
<section class="container">
  <br><br>
  <div class="row">
    <div class="col-lg-6 col-md-12 p-3">
      <img src="/static/img/Illustration-59.png" alt="" style="width: 90%;">
    </div>
    <div class="col-lg-6 col-md-12 order-lg-first pt-5">
      <h1 class="h1"><strong>Robo</strong> blog</h1>
      <br>
      <h3 class="h3 bl-1">Bizning blogimiz songi robototexnika sohasida oid yangiliklarni berib boradi</h3>
      <h4>O'zingizda kerakli maqolalarni oling</h4>
      <br><br>
      <button class="btn btn-warning"><a href="http://127.0.0.1:3000/" class="text-light" target="__blank">Biz
          haqimizda</a></button>
      <button class="btn btn-dark text-light"><a href="https://t.me/developer_safarbek" class="text-light"
          target="__blank">Creator</a></button>

    </div>
  </div>
</section>
<hr>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title-box text-center">
          {% if '/' == request.path %}
          <h2 class="title-heading mt-3">Songi Maqolalar</h2>
          {% else %}
          <h2 class="title-heading mt-3">Categoriya: {{request.path |slice:"5:" }}</h2>
          {% endif %}
          
        </div>
      </div>
    </div>


    <div class="row mt-2 mx-lg-5 mx-0">
      <div class="col-lg-5 order-first order-lg-last order-md-first pl-0 pl-lg-4">
        <nav class="w-100 panel">
          <p class="panel-heading bg-yellow">
            Repositories
          </p>
          <div class="panel-block">
            <form class="panel-block" id="searchForm" action="#" method="get" onkeyup="InlineSearch(this[0].value)">
              <p class="control">
                <input class="input is-success" type="text" placeholder="Ha , qidiramiz.">
              </p>
            </form>
          </div>
          <div id="result-list">
            {%for random in randoms %}
            <a href="/post/{{random.slug}}" class="panel-block is-active">
              <h5>
                <i class="fas fa-tag has-text-info mx-1"></i>
                {{random.name | slice:'25'}}
              </h5>
            </a>
            {% endfor %}

          </div>
        </nav>
        <br><br>
        <article class="panel is-info">
          <p class="panel-heading bg-blue">
            TOP Turkumlar
          </p>
          {%for rantag in rantags %}
          <a href="/tag/{{rantag.slug}}" class="panel-block is-active">
            <h5>
              <i class="fas fa-tag text-warning mx-1"></i>
              {{rantag.name | slice:'25'}}
            </h5>
          </a>
          {% endfor %}
        </article>
      </div>

      <div class="col-lg-7 p-3 mx-0">
        {% for post in page_obj %}
        <div class="row panel">
          <div class="col-md-6">
            <div class="text-left uim-icon-primary mt-4 text-dark">
              <a href="/post/{{post.slug}}" class="text-dark">
                <h3 class="f-18 mt-4">{{post.name}}</h3>
              </a>

              <p class="text-muted mt-3 mb-0">
                {{post.description | slice:"200"}}
              </p>
              <ul>
                <li>
                  turkumu:
                  <span class="tag is-large mini-tag">
                    <i class="fas fa-tags fa-sm"></i>
                    <a href="/tag/{{post.tag.slug}}">{{post.tag}}</a>
                  </span>
                </li>
              </ul>

            </div>
            <br>
            <a href="/post/{{post.slug}}" class="btn mb-5" style="background: #FFC033;">Ko'proq o'qish</a>
          </div>
          <div class="col-md-5  order-first order-md-last">
            <img src="{{post.image.url}}" alt="" class="w-100">
          </div>
        </div>
        <br>
        {% endfor %}
      </div>
    </div>
    <br><br>
    <div class="container ml-5">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous d-inline"
        style="background-color: #3b3b3b; color: #FFC033;">Previous</a>
      {% endif %}

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="pagination-next d-inline"
        style="background-color: #FFC033;">Next page</a>
      {% endif %}
    </div>
  </div>
</section>
<hr>
{% endautoescape %}
{% endblock %}