{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="mx-5">
    <br><br>
    <div class="row">
      <div class="col-lg-6 col-md-12 p-3">
        <img src="/static/img/Illustration-59.png" alt="" style="width: 90%;">
      </div>
      <div class="col-lg-6 col-md-12 order-lg-first pt-5">
        <h1 class="h0">Lorem, ipsum dolor.</h1>
        <br>
        <h2 class="h2 bl-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugiat molestiae, mollitia sint atque eligendi.</h2>
        <h3>search from our web site</h3>
        <div class="container">
          <input type="text" id="search" class="form-control" placeholder="Search here...">
          <span class="input-group-addon"><i class="fas fa-search"></i></span>
          <div class="result d-none">
            <div class="item p-1 m-1 border-dark">
              <i class="fas fa-tags"></i>
              <p class="d-inline">Lorem, ipsum dolor.</p>
            </div>
            <div class="item p-1 m-1 border-dark">
              <i class="fas fa-tags"></i>
              <p class="d-inline">Lorem, ipsum dolor.</p>
            </div>
            <div class="item p-1 m-1 border-dark">
              <i class="fas fa-tags"></i>
              <p class="d-inline">Lorem, ipsum dolor.</p>
            </div>
          </div>

        </div>
     </div>
    </div>
  </section>
  <hr>
  <section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title-box text-center">
                 
                    <h3 class="title-heading mt-3">Lorem, ipsum dolor.</h3>
                </div>
            </div>
        </div>


        <div class="row mt-2 pt-4 m-1">
            
            <div class="col-lg-5 card p-3 m-2">
                <div class="row service-box">
                    <div class="col-md-6">
                         <div class=" text-left uim-icon-primary mt-4">
                  
                            <h5 class="f-18 mt-4">Lorem, ipsum.</h5>

                            <p class="text-muted mt-3 mb-0">
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem illum veritatis hic facilis, nam vero provident ut nihil sed ad labore impedit aliquam, exercitationem dolorum, sapiente ipsam tenetur facere debitis.
                            </p>
           
                        </div>
                        <br>
                        <a href="/" class="btn" style="background: #FFC033;">read more</a>
                    </div>
                    <div class="col-md-6  order-first order-md-last">
                        <img src="/static/img/blog2.webp" alt="" class="w-100">
                    </div>
                </div>
       
            </div>
            <div class="col-lg-5 card p-3 m-1">
                <div class="row service-box">
                    <div class="col-md-6">
                         <div class=" text-left uim-icon-primary mt-4">
                  
                            <h5 class="f-18 mt-4">Lorem, ipsum.</h5>

                            <p class="text-muted mt-3 mb-0">
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem illum veritatis hic facilis, nam vero provident ut nihil sed ad labore impedit aliquam, exercitationem dolorum, sapiente ipsam tenetur facere debitis.
                            </p>
           
                        </div>
                        <br>
                        <a href="/" class="btn" style="background: #FFC033;">read more</a>
                    </div>
                    <div class="col-md-6  order-first order-md-last">
                        <img src="/static/img/blog2.webp" alt="" class="w-100">
                    </div>
                </div>
       
            </div>
            <div class="col-lg-5 card p-3 m-1">
                <div class="row service-box">
                    <div class="col-md-6">
                         <div class=" text-left uim-icon-primary mt-4">
                  
                            <h5 class="f-18 mt-4">Lorem, ipsum.</h5>

                            <p class="text-muted mt-3 mb-0">
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem illum veritatis hic facilis, nam vero provident ut nihil sed ad labore impedit aliquam, exercitationem dolorum, sapiente ipsam tenetur facere debitis.
                            </p>
           
                        </div>
                        <br>
                        <a href="/" class="btn" style="background: #FFC033;">read more</a>
                    </div>
                    <div class="col-md-6  order-first order-md-last">
                        <img src="/static/img/blog2.webp" alt="" class="w-100">
                    </div>
                </div>
       
            </div>
            <div class="col-lg-5 card p-3 m-1">
                <div class="row service-box">
                    <div class="col-md-6">
                         <div class=" text-left uim-icon-primary mt-4">
                  
                            <h5 class="f-18 mt-4">Lorem, ipsum.</h5>

                            <p class="text-muted mt-3 mb-0">
                              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem illum veritatis hic facilis, nam vero provident ut nihil sed ad labore impedit aliquam, exercitationem dolorum, sapiente ipsam tenetur facere debitis.
                            </p>
           
                        </div>
                        <br>
                        <a href="/" class="btn" style="background: #FFC033;">read more</a>
                    </div>
                    <div class="col-md-6  order-first order-md-last">
                        <img src="/static/img/blog2.webp" alt="" class="w-100">
                    </div>
                </div>
       
            </div>
        

        </div>
        <br><br>
        <div class="container ml-5">
          <a class="pagination-previous" style="background-color: #3b3b3b; color: #FFC033;">Previous</a>
          <a class="pagination-next" style="background-color: #FFC033;">Next page</a>
        </div>
    </div>
</section>
  <hr>
  <section class="mx-5">
    <h1 class="h1">Lorem, ipsum dolor.</h1>
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12">
        <img src="/static/img/3916681.jpg" alt="" class="img">
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12 pt-5">
          <h3>lorem -- ispum -- dollor</h3>
          <br>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <br><br>
          <a href="/" class="text-warning h3"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
          <br><br>
          <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex minus enim sed dolore, quaerat illum eius velit, voluptates nam temporibus tempore at autem dolorum beatae.</h4>
          <br>
          
          <button class="btn btn-warning text-light p-3">Lorem ipsum dolor sit.</button>
      </div>
    </div>
  </section>
  <hr>
  <section class="contact mx-5">
    <div class="row mx-5">
      <div class="col-xl-6 col-lg-12 col-md-12">
        <h1>Lorem ipsum dolor sit.</h1>
        <br>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos animi eligendi odit, aperiam assumenda ipsum?</h3>
        <br>
        <form>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email input" >
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p class="help ">This email is invalid</p>
          </div>
          
          
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
          </div>
          <button class="button btn-warning has-text-light">submit</button>
        </form>
      </div>
      <div class="col-xl-6 col-lg-12 col-md-12">
        <img src="/static/img/3946511.jpg" alt="" class="img">
      </div>
    </div>
  </section>
{% endblock content %}