{% extends "base.html" %}
{% block content %}
{% autoescape off %}
<div class="container p-5">
    <div class="card bg-yellow">
        <div class="card-content">
            <div class="title">
                   <h1 class="h1"> {{Post.title}}</h1>
            </div>
            <hr>
            <div class="content is-size-5 mt-5">
               {{Post.post}}
               <br><br>
            </div>
            <hr>
            <ul class="d-flex float-right">
                <li class="m-2">like <i class="fas fa-heart text-danger"></i>:{{Post.like}}</li>
                <li class="m-2">comment <i class="fas fa-eye text-primary"></i>:8</li>
            </ul>
           </div>
    
    
        <section class="card-footer dark">
    
            <a class="card-footer-item" id="up" onclick="">
                <span class="button bg-yellow has-text-dark">
                    <i class="fas fa-thumbs-up  is-size-4 text-blue"></i>
                </span>
            </a>
    
            <a class="card-footer-item" id="down" onclick="">
                <span class="button bg-yellow has-text-dark">
                    <i class="fas fa-thumbs-down  is-size-4 text-orange"></i>
                </span>
            </a>
    
        </section>
    
    </div>
</div>
{% endautoescape %} {% endblock %}