{% extends "base.html" %}
{% block content %}
{% autoescape off %}
<section class="about container">
    <div class="columns mt-5">
        <div class="column p-5">
            <h1 class="h1">welcome to our blog</h1>
            <hr>
            <h4 class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor magnam enim placeat nisi
                voluptatem!</h4>
            <button class="button is-danger">
                <i class="fab fa-instagram m-1 fa-lg"></i>
                instagram
            </button>
            <button class="button is-primary">
                <i class="fab fa-telegram m-1 fa-lg"></i>
                telegram
            </button>
        </div>
        <div class="column">
            <a class="button is-link text-light" href="/">All</a>
            {% for tags in tag %}
            <a class="button is-link text-light" href="/tag/{{tags.slug}}">{{tags}}</a>
            {% endfor %}
        </div>
    </div>
</section>
<section class="contents">
    <div class="row container">
        <div class="col-md-4">
            <article class="panel is-warning p-f">
                <p class="panel-heading">
                    Qidiruv
                </p>
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input is-warning" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
                <a class="panel-block is-active">
                    <span class="panel-icon">
                        <i class="fas fa-book"></i>
                    </span>
                    bulma
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book"></i>
                    </span>
                    marksheet
                </a>
                <a class="panel-block">
                    <span class="panel-icon">
                        <i class="fas fa-book"></i>
                    </span>
                    minireset.css
                </a>
            </article>
            <br><br><br>
        </div>
        <div class="col-md-8 order-md-first">
            {% for blogs in Blog %}
            <div class="card m-2">
                <div class="row bg-yellow">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="card-image">
                            <figure class="image is-5by4">
                                <img src="{{blogs.image.url}}" alt="Placeholder image">
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="card-content">
                            <div class="content">
                                <h1 class="h1"><a href="/post/{{blogs.slug}}" class="has-text-dark">{{blogs.title}}</a></h1>
                                <h4 class="h4">
                                    <br>
                                    <a href="/post/{{blogs.slug}}" class="has-text-dark"> {{blogs.post | slice:90}}...</a>
                                  
                                </h4>

                            </div>
                        </div>
                        <div class="card-footer">
                            <h2 class="card-footer-item h4">Like: 15 <i class="fas fa-heart"></i></h2>
                            <h2 class="card-footer-item h4">View: 48 <i class="fas fa-eye"></i></h2>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}


        </div>
    </div>

</section>

<section class=" container">
    {% if page_obj.has_previous %}
        <a class="pagination-previous has-text-light" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a class="pagination-next has-text-light" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</section>

<br><br>
{% endautoescape %} {% endblock %}